version: 2
jobs:
    build:
        docker:
            - image: alpine
        steps:
            - checkout
            - run:
                name: Echo Test
                command: echo "CircleCI Test"
    deploy:
        machine:
            image: circleci/classic:edge
        steps:
            - checkout
            - add_ssh_keys:
                fingerprints:
                  - SHA256:gIcsLbezeKKdbWGbF6ZAtf7zdh5RDXEWH9j5zBn3Odg
            - run: ssh ${ec2_user}@${172-31-34-137} 'cd /var/www/coachtechFURIMA && git pull'

workflows:
    version: 2
    build_and_deploy:
        jobs:
            - build
            - deploy:
                requires:
                    - build
                filters:
                    branches:
                        only: master


