.header {
    background-color: black;
}

.logo {
    width: 100%;
}

.logo_space {
    width: 20%;
}

.title_space {
    width: 100%;
}

.title {
    width: 100%;
}

.page_title {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

h1{
    font-size: 25px;
}

.admin{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.content{
    width: 100%;
    margin: 100px 0;
}

.link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgb(255, 80, 80);
    border-radius: 3px;
    width: 100%;
    display: block;
    padding: 10px 0;
}

@media screen and (min-width:0px) {
    .page_title {
        display: flex;
        align-items: center;
        margin-left: 10px;
        width: 30%;
    }
}

@media screen and (min-width:768px) {
    .page_title {
        display: flex;
        align-items: center;
        margin-left: 10px;
        width: 20%;
    }
}