.header {
    background-color: black;
}

.logo {
    width: 80%;
}

.title {
    width: 40%;
}

.page_title {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.admin_delete{
    width: 50%;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.message{
    text-align: center;
    font-weight: bold;
}

.list_title{
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-bottom: 1px solid black;
}

.form{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px 5px;
}

.name,.no_name{
    margin: 0;
    width: 30%;
}

.email{
    margin: 0;
    width: 50%;
}

.item{
    width: 30%;
    margin: 0;
    font-weight: bolder;
}

.submit{
    margin-left: auto;
    color: white;
    background-color: rgb(255, 80, 80);
    border: none;
    border-radius: 3px;
}
