.header {
    background-color: black;
}

.logo {
    width: 100%;
}

.logo_space {
    width: 20%;
}

.title_space {
    width: 100%;
}

.title {
    width: 100%;
}

.page_title {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.admin_delete{
    width: 50%;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-size: 25px;
}

.message{
    text-align: center;
    font-weight: bold;
}

.list_title{
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-bottom: 1px solid black;
}

.form{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px 5px;
}

.name,.no_name{
    margin: 0;
    width: 30%;
}

.email{
    margin: 0;
    width: 50%;
}

@media screen and (min-width:0px){
    .admin_delete {
            width: 100%;
            margin: 0 auto;
        }
        
        .item:nth-of-type(2){
            width: 50%;
            margin: 0;
            font-weight: bolder;
            font-size: 12px;
        }

        .name,
        .no_name {
            margin: 0;
            width: 30%;
            font-size: 12px;
        }
    
        .email {
            margin: 0;
            width: 50%;
            font-size: 12px;
        }

        .submit {
            margin-left: auto;
            color: white;
            background-color: rgb(255, 80, 80);
            border: none;
            font-size: 10px;
            border-radius: 3px;
        }

        .item{
            width: 30%;
                margin: 0;
                font-weight: bolder;
                font-size: 12px;
        }

        .page_title {
        display: flex;
        align-items: center;
        margin-left: 10px;
        width: 30%;
    }
}

@media screen and (min-width:768px){
    .admin_delete {
            width: 50%;
            margin: 0 auto;
        }

        .name,
        .no_name {
            margin: 0;
            width: 30%;
            font-size: 16px;
        }
    
        .email {
            margin: 0;
            width: 50%;
            font-size: 16px;
        }

        .submit {
            margin-left: auto;
            color: white;
            background-color: rgb(255, 80, 80);
            border: none;
            border-radius: 3px;
            font-size: 14px;
        }
        
        .page_title {
        display: flex;
        align-items: center;
        margin-left: 10px;
        width: 20%;
        }
}