.header {
    background-color: black;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
}

.logo_space {
    width: 20%;
}

.title_space {
    width: 100%;
}

.title {
    width: 100%;
}

.text {
    width: 30%;
}

.input {
    width: 100%;
}

@media screen and (min-width:0px){
    .link {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 70%;
            margin: 0 0 0 5px;
        }
    
        .auth {
            color: white;
            text-decoration: none;
            font-size: 10px;
        }
    
        .submit {
            background-color: white;
            color: black;
            border: none;
            border-radius: 3px;
            padding: 0px 8px;
        }

        .name_amount {
            margin-left: 0px;
        }
    
        .name {
            margin: 0 0 20px 0;
            font-weight: bold;
            font-size: 15px;
        }

        .amount{
            font-size: 12px;
        }

        h2{
            font-size: 12px;
        }

        .page_title {
            display: flex;
            align-items: center;
            margin: 0 5px;
            width: 30%;
        }
}

@media screen and (min-width:768px){
    .link {
            display: flex;
                justify-content: space-around;
                align-items: center;
                width: 50%;
                margin: 0 0 0 10px;
        }
    
        .auth {
            color: white;
            text-decoration: none;
            font-size: 90%;
        }
    
        .submit {
            background-color: white;
            color: black;
            border: none;
            border-radius: 3px;
            padding: 3px 10px;
        }

        .name_amount {
            margin-left: 30px;
        }
    
        .name {
            margin: 0 0 20px 0;
            font-weight: bold;
            font-size: 20px;
        }

        form {
            display: flex;
        }
    
        .left_screen {
            width: 50%;
        }
    
        .right_screen {
            width: 40%;
            margin-left: auto;
        }

        .page_title {
            display: flex;
            align-items: center;
            margin: 0 10px;
            width: 20%;
        }
}

.buy{
    width: 90%;
    margin: 50px auto;
}



.item_info{
    display: flex;
}

.item_img{
    width: 30%;
    height: 150px;
}

.payment{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update{
    text-decoration: none;
    color: skyblue;
}



.confirm{
    border: 1px solid black;
    width:100%;
    padding: 0 20px;
}

.item_amount{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px 0;
}

.total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.payment_confirm{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.button{
    margin: 50px 0;
    width: 100%;
    color: white;
    background-color: rgb(255, 80, 80);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 3px;
}

.message{
    font-weight: bold;
    text-align: center;
    color: blue;
}











