.header {
    background-color: black;
}

.logo {
    width: 80%;
}

.title {
    width: 40%;
}

.page_title {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.list_title {
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-bottom: 1px solid black;
}

.check{
    width: 50%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.check_list {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid black;
}

.user_name,
.no_name {
    margin: 0;
    width: 30%;
}

.shop_name{
    margin: 0;
    width: 30%;
}

.item {
    width: 30%;
    margin: 0;
    font-weight: bolder;
}

.room_link{
    margin-left: auto;
    color: white;
    background-color: rgb(255, 80, 80);
    border: none;
    border-radius: 3px;
    text-decoration: none;
    padding: 3px 5px;
}