.header {
    background-color: black;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
}

.logo_space {
    width: 10%;
}

.title_space {
    width: 50%;
}

.title {
    width: 100%;
}

.shop_space {
    width: 10%
}

.shop_icon {
    width: 100%;
    margin-left: 5px;
}

.page_title {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 30%;
}

.message {
    text-align: center;
    font-weight: bold;
}

.comment_list{
    width:50%;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.item{
    padding: 0 5px;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.room{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid black;
}

.name,.item{
    margin: 0;
}

.room_link {
    margin-left: auto;
    color: white;
    background-color: rgb(255, 80, 80);
    border: none;
    border-radius: 3px;
    text-decoration: none;
    padding: 0px 5px;
}