.header {
    background-color: black;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
}

.logo_space {
    width: 10%;
}

.title_space {
    width: 50%;
}

.title {
    width: 100%;
}

.page_title {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 30%;
}

.text {
    width: 30%;
}

.input {
    width: 100%;
    padding: 5px;
}

.link {
    margin: 0 10px 0 auto;
    display: flex;
    align-items: center;
}

.auth {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.submit {
    background-color: white;
    color: black;
    border: none;
    border-radius: 3px;
    margin-left: 30px;
    padding: 5px 15px;
}

.detail{
    display: flex;
    width:70%;
    margin: 50px auto;
}

.img{
    width:40%;
}

.img_path{
    width: 100%;
    height:300px;
}

.overview{
    width: 40%;
    margin: 0 auto;
}

.item_name{
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}

.brand{
    margin: 0;
}

.nice{
    margin-right: 30px;
}

.button{
    margin: 10px 0;
    text-align: center;
}

.nice{
    text-decoration: none;
    color: black;
}

.comment{
    text-decoration: none;
}

.buy{
    color: white;
    background-color: rgb(255, 80, 80);
    border-radius: 3px;
    text-decoration: none;
    width: 100%;
    border: none;
}

.info_content{
    display: flex;
    align-items: center;
}

h3{
    margin-right: 40px;
}

.category{
    background-color: lightgray;
    border-radius: 10px;
    padding: 0 20px;
    text-align: center;
}

