.header {
    background-color: black;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
}

.logo_space {
    width: 20%;
}

.title_space {
    width: 100%;
}

.title {
    width: 100%;
}

.text {
    width: 30%;
}

.input {
    width: 100%;
}

.item_name{
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}

.comment_link{
    text-decoration: none;
}

.info_content{
    display: flex;
    align-items: center;
}

.option{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.nice{
    margin: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 50px;
}

.star {
    position: relative;
    width: 0px;
    height: 0px;
    border-bottom: 12px solid gold;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    transform: rotate(-37deg);
}

.star::before {
    content: "";
    position: absolute;
    top: 0;
    left: -18px;
    border-bottom: 12px solid gold;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    transform: rotate(-71.5deg);
}

.star::after {
    content: "";
    position: absolute;
    top: 0;
    left: -18px;
    border-bottom: 12px solid gold;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    transform: rotate(71.5deg);
}

.off_star {
    position: relative;
    width: 0px;
    height: 0px;
    border-bottom: 12px solid lightgray;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    transform: rotate(-37deg);
}

.off_star::before {
    content: "";
    position: absolute;
    top: 0;
    left: -18px;
    border-bottom: 12px solid lightgray;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    transform: rotate(-71.5deg);
}

.off_star::after {
    content: "";
    position: absolute;
    top: 0;
    left: -18px;
    border-bottom: 12px solid lightgray;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    transform: rotate(71.5deg);
}

.comment_img{
    width: 30px;
    margin-left: 30px;
}

button:disabled{
    background-color: lightgray;
    cursor: pointer;
}

.shop_icon {
    width: 100%;
    margin-left: 5px;
}

.count{
    display: flex;
    align-items: center;
}

.nice_count{
    margin: 10px 32px 15px 32px;
}

.comment_count{
    margin-left: 40px;
}

@media screen and (min-width:0px){
        .link {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 70%;
            margin: 0 0 0 5px;
        }
    
        .auth {
            color: white;
            text-decoration: none;
            font-size: 10px;
        }
    
        .submit {
            background-color: white;
            color: black;
            border: none;
            border-radius: 3px;
            padding: 0px 8px;
        }

        .item_name {
            margin: 0;
            font-weight: bold;
            font-size: 18px;
        }

        h2{
        font-size: 18px;
        }

        h3{
        font-size: 8px;
        white-space: nowrap;
        margin-right: 20px;
        }

        .category {
            background-color: lightgray;
            border-radius: 10px;
            padding: 0 5px;
            font-size: 10px;
            text-align: center;
            white-space: nowrap;
        }
    
        .situation {
            font-size: 10px;
            width: 70%;
            white-space: nowrap;
        }

        .brand {
            margin: 0;
            font-size: 12px;
        }

        .amount{
            font-size: 12px;
        }

        .item_detail{
            font-size: 12px;
        }

        .img {
            width: 80%;
            margin: 0 auto;
        }
    
        .img_path {
            width: 100%;
            height: 300px;
        }

        .overview {
            width: 80%;
            margin: 0 auto;
        }

        .buy {
            color: white;
            background-color: rgb(255, 80, 80);
            border-radius: 3px;
            text-decoration: none;
            width: 100%;
            border: none;
        }

        .shop_page_title {
            display: flex;
            align-items: center;
            margin: 0 10px;
            width: 40%;
        }

        .page_title {
            display: flex;
            align-items: center;
            margin: 0 5px;
            width: 30%;
        }

        .shop_space {
            width: 15%
        }
}

@media screen and (min-width:768px){
    .link {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            margin: 0 0 0 10px;
        }
    
        .auth {
            color: white;
            text-decoration: none;
            font-size: 90%;
        }
    
        .submit {
            background-color: white;
            color: black;
            border: none;
            border-radius: 3px;
            padding: 3px 10px;
        }

        h2 {
            font-size: 25px;
        }

        .detail {
            display: flex;
            width: 70%;
            margin: 50px auto;
        }

        .img {
            width: 40%;
        }
    
        .img_path {
            width: 100%;
            height: 300px;
        }

        .overview {
            width: 50%;
            margin: 0 auto;
        }

        .buy {
            color: white;
            background-color: rgb(255, 80, 80);
            border-radius: 3px;
            text-decoration: none;
            width: 90%;
            border: none;
        }

        .shop_page_title {
            display: flex;
            align-items: center;
            margin: 0 10px;
            width: 30%;
        }

        .shop_space {
            width: 15%
        }

        .page_title {
            display: flex;
            align-items: center;
            margin: 0 10px;
            width: 20%;
        }

        .category {
            background-color: lightgray;
            border-radius: 10px;
            padding: 0 5px;
            font-size: 16px;
            text-align: center;
            white-space: nowrap;
        }
    
        .situation {
            font-size: 16px;
            width: 70%;
        }
    
        .brand {
            margin: 0;
            font-size: 12px;
        }
    
        .amount {
            font-size: 12px;
        }
    
        .item_detail {
            font-size: 16px;
        }

        h3 {
            font-size: 16px;
            margin-right: 20px;
        }
}