.header {
    background-color: black;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
}

.logo_space{
    width:20%;
}

.title_space{
    width:100%;
}

.title {
    width: 100%;
}

.text{
    width:30%;
}

.input{
    width: 100%;
}

.list_link{
    margin-top:30px;
    border-bottom: 1px black solid;
}

@media screen and (min-width:0px){
        .content {
            width: 32%;
            position: relative;
            margin-bottom: 20px;
        }

        .mylist {
            text-decoration: none;
            font-weight: bold;
            font-size: 15px;
            color: red;
            margin-left: 30px;
        }

        .no_mylist {
            text-decoration: none;
            font-weight: bold;
            font-size: 15px;
            color: gray;
            margin-left: 30px;
        }

        .rec {
            text-decoration: none;
            font-weight: bold;
            font-size: 15px;
            color: red;
            margin-left: 30px;
        }

        .no_rec {
            text-decoration: none;
            font-weight: bold;
            font-size: 15px;
            color: gray;
            margin-left: 30px;
        }
        .text {
            width: 30%;
        }
    
        .input {
            width: 100%;
        }
    
        .link {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 70%;
            margin: 0 0 0 5px;
        }
    
        .auth {
            color: white;
            text-decoration: none;
            font-size: 10px;
        }
    
        .submit {
            background-color: white;
            color: black;
            border: none;
            border-radius: 3px;
            padding: 0px 8px;
        }

        .footer {
            display: block;
            background-color: black;
            text-align: center;
            padding: 10px 0;
            font-size: 70%;
        }

        .page_title {
            display: flex;
            align-items: center;
            margin: 0 5px;
            width: 30%;
        }
}

@media screen and (min-width:768px){
        .content{
        width:19%;
        position: relative;
        margin-bottom: 20px;
        }

        .mylist {
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            color: red;
            margin-left: 60px;
        }

        .no_mylist {
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            color: gray;
            margin-left: 60px;
        }

        .rec {
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            color: red;
            margin-left: 60px;
        }
    
        .no_rec {
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            color: gray;
            margin-left: 60px;
        }
    
        .text {
            width: 30%;
        }
    
        .input {
            width: 100%;
            padding: 0px;
        }
    
        .link {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            margin: 0 0 0 10px;
        }
    
        .auth {
            color: white;
            text-decoration: none;
            font-size: 90%;
        }
    
        .submit {
            background-color: white;
            color: black;
            border: none;
            border-radius: 3px;
            padding: 3px 10px;
        }

        .footer {
            display: block;
            background-color: black;
            text-align: center;
            padding: 10px 0;
            font-size: 90%;
        }

        .page_title {
            display: flex;
            align-items: center;
            margin: 0 10px;
            width: 20%;
        }
}

.item_list{
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.item_img{
    width: 100%;
    height: 200px;
}

.message{
    text-align: center;
    font-weight: bold;
}

.amount{
    position: absolute;
    top:80%;
    left: 0%;
    color: black;
    background-color: white;
    font-size: 10%;
}

.sold{
    position: absolute;
    top:30%;
    left: 0%;
    width: 100%;
    text-align: center;
    color: red;
    background-color: white;
    border-top: 20px solid red;
    border-bottom: 20px solid red;
}

.admin_link{
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

.shop_link{
    text-decoration: none;
    color: white;
    margin-left: 50px;
}