.header{
    background-color: black;
}

.logo {
    width: 100%;
}

.logo_space {
    width: 20%;
}

.title_space {
    width: 100%;
}

.title {
    width: 100%;
}

.login{
    width:50%;
    margin: 0 auto;
}

.login_header{
    text-align: center;
}

.content{
    width: 100%;
}

.email,.password{
    margin-top: 40px;
}

.input{
    width: 100%;
}

.item{
    margin: 0;
    font-weight: bold;
}

.submit{
    width:100%;
    color: white;
    background-color: rgb(255, 80, 80);
    text-align: center;
    border-radius: 3px;
    border: none;
    padding: 5px 0;
    font-weight: bold;
    font-size: 18px;
    margin: 40px 0 20px 0;
    cursor: pointer;
}

.register{
    text-align: center;
}

.link{
    text-decoration: none;
    color: rgb(0, 183, 255);
}

.error{
    color: red;
    margin: 0;
}

.message{
    color: red;
}

@media screen and (min-width:0px){
    .page_title {
            display: flex;
            align-items: center;
            margin-left: 10px;
            width: 30%;
        }
}

@media screen and (min-width:768px){
    .page_title {
            display: flex;
            align-items: center;
            margin-left: 10px;
            width: 20%;
        }
}