.header {
    background-color: black;
    height: 40px;
}

.mail_invite{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

h1{
    text-align: center;
}

.submit{
    background-color: rgb(255, 80, 80);
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    padding: 5px 0;
    width: 100px;
}