.header {
    background-color: black;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
}

.logo_space {
    width: 10%;
}

.title_space {
    width: 50%;
}

.title {
    width: 100%;
}

.page_title {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 30%;
}

.text {
    width: 30%;
}

.input {
    width: 100%;
    padding: 5px;
}

.link {
    margin: 0 10px 0 auto;
    display: flex;
    align-items: center;
}

.auth {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.submit {
    background-color: white;
    color: black;
    border: none;
    border-radius: 3px;
    margin-left: 30px;
    padding: 5px 15px;
}

.profile{
    width:50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.update{
    margin-left: auto;
}

.update_link{
    text-decoration: none;
    border: 1px solid rgb(255, 80, 80);
    color: rgb(255, 80, 80);
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 3px;
}

.item_link {
    margin-top: 30px;
    border-bottom: 1px black solid;
}

.sell_item {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: red;
    margin-left: 60px;
}

.no_sell_item {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: gray;
    margin-left: 60px;
}

.buy_item {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: red;
    margin-left: 60px;
}

.no_buy_item {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: gray;
    margin-left: 60px;
}

.now_img{
    width: 100px;
    height:100px;
    border-radius: 50%;
}

.item_list {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.content {
    width: 21%;
    position: relative;
    margin-bottom: 50px;
}

.item_img {
    width: 100%;
    height: 200px;
}

.message {
    text-align: center;
    font-weight: bold;
}

.amount {
    position: absolute;
    top: 80%;
    color: black;
}

.sold {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    text-align: center;
    color: red;
    background-color: white;
    border-top: 20px solid red;
    border-bottom: 20px solid red;
}