.header {
    background-color: black;
}

.logo {
    width: 100%;
}

.logo_space {
    width: 20%;
}

.title_space {
    width: 100%;
}

.title {
    width: 100%;
}

.shop_space {
    width: 15%
}

.shop_icon {
    width: 100%;
    margin-left: 5px;
}

h1{
    text-align: center;
    font-size: 25px;
}

h2{
    margin: 0;
    font-size: 20px;
}

input{
    margin-bottom: 50px;
    width: 100%;
}

textarea{
    width: 100%;
    height: 100px;
    resize: none;
    margin-bottom: 30px;
}

.submit{
    width: 100%;
    color: white;
    background-color: rgb(255, 80, 80);
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 5px 0;
}

@media screen and (min-width:0px){
    .form {
            width: 100%;
            margin: 0 auto;
        }

        .page_title {
            display: flex;
            align-items: center;
            margin-left: 10px;
            width: 40%;
        }
}

@media screen and (min-width:768px){
    .form {
            width: 50%;
            margin: 0 auto;
        }

        .page_title {
            display: flex;
            align-items: center;
            margin-left: 10px;
            width: 30%;
        }
}