.header {
    background-color: black;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
}

.logo_space {
    width: 20%;
}

.title_space {
    width: 100%;
}

.title {
    width: 100%;
}

.text {
    width: 30%;
}

.input {
    width: 100%;
}

@media screen and (min-width:0px){
    .link {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 70%;
            margin: 0 0 0 5px;
        }
    
        .auth {
            color: white;
            text-decoration: none;
            font-size: 10px;
        }
    
        .submit {
            background-color: white;
            color: black;
            border: none;
            border-radius: 3px;
            padding: 0px 8px;
        }

        .profile {
            width: 90%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            font-size: 20px;
        }
    
        h2 {
            margin: 0;
            font-size: 15px;
        }

        .profile_img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

        .no_img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: lightgray;
            margin: 10px auto;
        }

        .img {
            text-align: center;
            margin-bottom: 20px;
        }

        .page_title {
            display: flex;
            align-items: center;
            margin: 0 5px;
            width: 30%;
        }

        .error {
            margin: 0;
            color: red;
            font-size: 12px;
        }
    
        .req {
            margin: 0;
            font-size: 12px;
        }
}

@media screen and (min-width:768px){
    .link {
            margin: 0 0 0 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width:50%;
        }
    
        .auth {
            color: white;
            text-decoration: none;
            font-size: 90%;
        }
    
        .submit {
            background-color: white;
            color: black;
            border: none;
            border-radius: 3px;
            padding: 3px 10px;
        }

        .profile{
            width:50%;
            margin: 0 auto;
        }
        
        h1{
        text-align: center;
        }
        
        h2{
        margin: 0;
        }

        .img {
            display: flex;
            align-items: center;
        }

        .page_title {
            display: flex;
            align-items: center;
            margin: 0 10px;
            width: 20%;
        }

        .error {
            margin: 0;
            color: red;
            font-size: 16px;
        }
    
        .req {
            margin: 0;
            font-size: 16px;
        }
}

label{
    border: 1px solid rgb(255, 80, 80);
    color: rgb(255, 80, 80);
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
}

.file{
    margin-left: 20px;
}

.content{
    margin-bottom: 30px;
}

.text_input{
    width: 100%;
}

.update{
    width: 100%;
    color: white;
    background-color: rgb(255, 80, 80);
    border: none;
    border-radius: 3px;
    font-weight: bold;
    padding: 5px 0;
}
