.header {
    background-color: black;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
}

.logo_space {
    width: 10%;
}

.title_space {
    width: 50%;
}

.title {
    width: 100%;
}

.shop_space{
    width:10%
}

.shop_icon{
    width: 100%;
    margin-left: 5px;
}

.page_title {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 30%;
}

.message {
    text-align: center;
    font-weight: bold;
}


.list_link {
    margin-top: 30px;
    border-bottom: 1px black solid;
}

.rec {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: red;
    margin-left: 60px;
}

.no_rec {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: gray;
    margin-left: 60px;
}

.mylist {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: red;
    margin-left: 60px;
}

.no_mylist {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: gray;
    margin-left: 60px;
}

.item_list {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.content {
    width: 18%;
    position: relative;
    margin-bottom: 20px;
}

.item_img {
    width: 100%;
    height: 200px;
}

.message {
    text-align: center;
    font-weight: bold;
}

.amount {
    position: absolute;
    top: 80%;
    color: black;
    background-color: white;
}

.sold {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    text-align: center;
    color: red;
    background-color: white;
    border-top: 20px solid red;
    border-bottom: 20px solid red;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 10px 0;
}

.admin_link,.new_shop,.shop_management,.back_link{
    color: white;
    text-decoration: none;
}
