.header {
    background-color: black;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
}

.logo_space {
    width: 20%;
}

.title_space {
    width: 100%;
}

.title {
    width: 100%;
}

.shop_space {
    width: 15%
}

.shop_icon {
    width: 100%;
    margin-left: 5px;
}

.page_title {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 30%;
}

.message {
    text-align: center;
    font-weight: bold;
}

h1{
    margin-bottom: 70px;
    font-size: 25px;
}
.content{
    width: 100%;
    margin-bottom: 70px;
}

.link{
    background-color: rgb(255, 80, 80);
    color: white;
    font-weight: bold;
    border-radius: 3px;
    display: block;
    text-decoration: none;
    padding: 5px;
}

@media screen and (min-width:0px){
    .shop_management {
            width: 90%;
            margin: 0 auto;
            text-align: center;
        }

        .page_title {
            display: flex;
            align-items: center;
            margin-left: 10px;
            width: 40%;
        }
}

@media screen and (min-width:768px){
    .shop_management {
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }

        .page_title {
            display: flex;
            align-items: center;
            margin-left: 10px;
            width: 30%;
        }
}
