.header {
    background-color: black;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
}

.logo_space {
    width: 20%;
}

.title_space {
    width: 100%;
}

.title {
    width: 100%;
}

.shop_space {
    width: 15%
}

.shop_icon {
    width: 100%;
    margin-left: 5px;
}

.staff_delete{
    width:50%;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-size: 25px;
}

.staff_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0 5px;
}

.submit{
    background-color: rgb(255, 80, 80);
    color: white;
    border: none;
    border-radius: 3px;
}

@media screen and (min-width:0px){
    .staff_delete {
            width: 90%;
            margin: 0 auto;
        }

        .page_title {
            display: flex;
            align-items: center;
            margin-left: 10px;
            width: 40%;
        }
}

@media screen and (min-width:768px){
    .staff_delete {
            width: 50%;
            margin: 0 auto;
        }

        .page_title {
            display: flex;
            align-items: center;
            margin-left: 10px;
            width: 30%;
        }
}
